@font-face {
    font-family: IRANYekanMedium;
    src: url('../assets/Fonts/IranYekan/WebFonts/fonts/woff/IRANYekanWebMedium.woff') format('woff');
    font-size: normal;
}

@font-face {
  font-family: IRANYekanBold;
  src: url('../assets/Fonts/IranYekan/WebFonts/fonts/woff/IRANYekanWebBlack.woff') format('woff');
  font-size: bold;
}

.icon-mehranalam {
  content: url('../assets/Images/Icons/Mh.svg');
  height: 50px;
  width: 50px;
}

.icon-checkmark {
  content: url('../assets/Images/Icons/check-circle.svg');
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.icon-github {
  content: url('../assets/Images/Icons/github.svg');
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.icon-like {
  content: url('../assets/Images/Icons/heart.svg');
  height: 12px;
  width: 12px;
  margin-left: 10px;
}

.icon-external-link {
  content: url('../assets/Images/Icons/external-link.svg');
  height: 12px;
  width: 12px;
  margin-left: 10px;
}

.icon-circle {
  content: url('../assets/Images/Icons/circle.svg');
  height: 12px;
  width: 12px;
  margin-left: 10px;
}

.icon-bell {
  content: url('../assets/Images/Icons/bell.svg');
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-top: 4px;
}

.icon-edit {
  content: url('../assets/Images/Icons/edit-3.svg');
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-top: 4px;
}

.icon-archive {
  content: url('../assets/Images/Icons/archive.svg');
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-top: 4px;
}
/* VECTOR */

.Vector {
  content: url('../assets/Images/Vector.svg');
  height: 512px;
  width: 612px;
  margin: 12px;
}
