:root {
    color-scheme: light dark;
    --bg-color: #F9EBC8;
    --text-color: #102631;
    --scrollbar: darkgray;
    --shimmer-static-bg: #DDDBDD;
    --bg-card: #ffffff;
    --shadow-card: 0 4px 5px 0 rgba(170,179,217,0.25);
}
